<div class="container-md">
  <div class="menuBar mt-4">
    <button (click)="formOpened = true;" class="btn btn-primary">+ add new</button>
    <button
      (click)="showHidden = !showHidden"
      class="btn showHidden ms-2" [class]="showHidden ? 'btn-secondary' : 'btn-outline-secondary'">
      <span
        class="btn bi" [class]="showHidden ? 'bi-eye' : 'bi-eye-slash-fill'"
        > {{ showHidden ? 'see shown' : 'show hidden' }}
      </span>
    </button>
  </div>

  <div class="row row-cols-1 row-cols-md-2 gx-5 mt-4">
    <div *ngFor="let work of workList;index as i" class="col mt-4 mt-md-0">
      <div *ngIf="!work.hidden || showHidden" class="conditionalShow" [class]="work.hidden ? 'hidden' : ''">
        <img *ngIf="work.img" [src]="work.img" (click)="openLink(work.link)" alt="work picture"/>
        <div class="d-flex flex-row mt-2">
          <h4 (click)="openLink(work.link)" class="flex-fill">{{ work.title }}</h4>
          <button (click)="toggleWorkSettings($event.target)" class="toggleWorkSettings btn ms-2 bi bi-three-dots"></button>
          <div class="workSettings shadow">
            <div class="d-flex flex-column flex-fill">
              <button (click)="hideWork(i, $event.target)" class="btn bi" [class]="work.hidden ? 'bi-eye' : 'bi-eye-slash-fill'">
                {{ work.hidden ? 'show' : 'hide' }}
              </button>
              <button (click)="deleteWork(i)" class="btn mt-2 bi bi-trash"> delete</button>
              <button (click)="formOpened = { obj: workList[i], index: i }" class="btn mt-2 bi bi-pen-fill"> edit</button>
            </div>
          </div>
        </div>
        <p>{{ work.details }}</p>
      </div>
    </div>
  </div>

  <work-form [(openForm)]="formOpened" (submitEvent)="eventListener($event)"></work-form>
</div>
